<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Game Knowledge Graphs</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css.css')}}"/>
<script type="text/javascript">
    var size = 10;
    var page = 0;


    $(document).ready(function() {
        initEvents();
        $('#search_games').click();
    });

    function initEvents() {
        $("#dropdown_search_type").click(function(event) {
            $("#cmb_search_type").text(event.target.childNodes[0].data);
            $("#cmb_search_type").val(event.target.childNodes[0].data);
        });


        $("#dropdown_platform").click(function(event) {
            page = 0;
            $('#cmb_platform').text(event.target.childNodes[0].data);
            $('#search_games').click();
        });
        $("#dropdown_genres").click(function(event) {
            page = 0;
            $('#cmb_genres').text(event.target.childNodes[0].data);
            $('#search_games').click();
        });

        // $("#dropdown_releaseyear").click(function(event) {
        //     page = 0;
        //     $('#cmb_releaseyear').text(event.target.childNodes[0].data);
        //     $('#search_games').click();
        // });
        // $("#dropdown_esrb").click(function(event) {
        //     page = 0;
        //     $('#cmb_esrb').text(event.target.childNodes[0].data);
        //     $('#search_games').click();
        // });
        $('#search_games').on('click', function(e) {
            // alert($('#cmb_search_type').text());
            var data = {
                "platform": $('#cmb_platform').text().trim(),
                "genres": $('#cmb_genres').text().trim(),
                // "releaseyear": $('#cmb_releaseyear').text().trim(),
                "name": $('#game_text').val().trim(),
                "from": page * size,
                "size": size,
                "type": $('#cmb_search_type').text()
            }
            $.ajax({
                type: 'POST',
                url: '/querygames',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',    
                success: function(data) { 

                    var startIndex = page * size + 1;
                    var endIndex = (page + 1) * size;
                    $('#result_stat').text("       Matched results: " + data.hits.total + ", currently " + startIndex + " to " + endIndex);
                    $('#result_list').empty();
                    listResults(data.hits.hits);
                },
                error: function(xhr, type) {
                }
            });
        });
        $('input[type=radio][name=page_size]').change(function() {
            page = 0;
            size = $('input[type=radio][name=page_size]:checked').val();
            $('#search_games').click();
        });
        $('#previous_page').click(function() {
            page--;
            if (page == 0) {
                $('#previous_page').attr('disabled', true);
            }
            $('#search_games').click();
        });
        $('#next_page').click(function() {
            page++;
            $('#search_games').click();
            if (page > 0) {
                $('#previous_page').attr('disabled', false);
            }
        });
    }

    function listResults(data) {
        for (var i = 0; i < data.length; i++) {
            // var game_item = $('<div class="col-md-2 col-sm-4 text-center">' + 
            //     '<img width="90%" height="80%" src="http://localhost:8080/pics/' + data[i]._source.source.name + '/logo.jpg" />' + 
            //     '<p><a href="/details/' + data[i]._id + '">' + data[i]._source.source.name + '</a></p>' + 
            //     '</div>');
            if (!data[i]._source.pic || data[i]._source.pic.length === 0) continue;
            var game_item = $('<div class="col-md-2 col-sm-4 text-center">' + 
                '<img width="90%" height="90%" class="search_image" src="http://localhost:8080/pics/' + data[i]._source.pic + '" />' + 
                '<p><a href="/details/' + data[i]._id + '">' + data[i]._source.name + '</a></p>' + 
                '</div>');
            game_item.appendTo('#result_list');
            // alert(data[i]._source.source.name);
        }
    }

</script>
<div>
    {% block body %}
    <div class="container-fluid">
        <div class="row mt-4">
            <label class="ml-4 mr-2">Search Games by</label>
            <div class="col-2 align-items-center">                
                <div class="dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="cmb_search_type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="cmb_search_type" id="dropdown_search_type">
                        <button class="dropdown-item" href="#">Name</button>
                        <button class="dropdown-item" href="#">Developer</button>
                        <button class="dropdown-item" href="#">Publisher</button>                      
                    </div>
                </div>
            </div>
            <input type="text" width="200" class="col-6 form-control" id="game_text" />
            <div class="col-2">                
                <!-- <div class="btn-group float-right" role="group" aria-label="Basic example"> -->
                <button type="button" class="btn btn-secondary float-left" id="search_games">Search</button>
                <!-- </div> -->
            </div>
        </div>
        <div class="row mt-4 form-inline"> 
            <div class="form-group ml-2">
                <label class="ml-4 mr-2">Genres</label>
                <div class="dropdown mr-2">
                    <button id="cmb_genres" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="cmb_genres" id="dropdown_genres">
                        <button class="dropdown-item" href="#">All</button>
                        <button class="dropdown-item" href="#">Action & Adventure</button>
                        <button class="dropdown-item" href="#">Racing & Flying</button>
                        <button class="dropdown-item" href="#">Arcade</button>
                        <button class="dropdown-item" href="#">Shooter</button>
                        <button class="dropdown-item" href="#">Role Playing</button>
                        <button class="dropdown-item" href="#">Puzzle & Trivia</button>
                        <button class="dropdown-item" href="#">Music</button>
                        <button class="dropdown-item" href="#">Strategy</button>
                        <button class="dropdown-item" href="#">MMORPG</button>
                        <button class="dropdown-item" href="#">Fighting</button>
                        <button class="dropdown-item" href="#">TBC</button>
                        <button class="dropdown-item" href="#">Party</button>
                        <button class="dropdown-item" href="#">Sports</button>
                        <button class="dropdown-item" href="#">Simulation</button>
                        <button class="dropdown-item" href="#">MOBA</button>
                        <button class="dropdown-item" href="#">Family</button>
                        <button class="dropdown-item" href="#">Platformer</button>
                        <button class="dropdown-item" href="#">First Person Shooter</button>
                        <button class="dropdown-item" href="#">Narrative</button>
                        <button class="dropdown-item" href="#">Horror</button>
                        <button class="dropdown-item" href="#">Educational</button>
                        <button class="dropdown-item" href="#">Card & Board</button>
                        <button class="dropdown-item" href="#">Classics</button>
                        <button class="dropdown-item" href="#">Family & kids</button>
                        <button class="dropdown-item" href="#">Other</button>
                    </div>
                </div>
                <label class="mr-2">Platforms</label>
                <div class="dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="cmb_platform" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="cmb_platform" id="dropdown_platform">
                        <button class="dropdown-item" href="#">All</button>
                        <button class="dropdown-item" href="#">Playstation 4</button>
                        <button class="dropdown-item" href="#">Xbox One</button>
                        <button class="dropdown-item" href="#">Nintendo Switch</button>                        
                    </div>
                </div>
                <!-- <label class="mr-2">Release Year</label> -->
                <!-- <div class="dropdown mr-2">
                    <button id="cmb_releaseyear" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="cmb_releaseyear" id="dropdown_releaseyear">
                        <button class="dropdown-item" href="#">All</button>
                        <button class="dropdown-item" href="#">2018</button>
                        <button class="dropdown-item" href="#">2017</button>
                        <button class="dropdown-item" href="#">2016</button>
                        <button class="dropdown-item" href="#">2015</button>
                        <button class="dropdown-item" href="#">2014</button>
                        <button class="dropdown-item" href="#">2013</button>
                        <button class="dropdown-item" href="#">2012</button>
                        <button class="dropdown-item" href="#">2011</button>
                        <button class="dropdown-item" href="#">2010</button>
                        <button class="dropdown-item" href="#">Before 2010</button>
                    </div>
                </div> -->
                <!-- <label class="mr-2">ESRB</label>
                <div class="dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" id="cmb_esrb" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="cmb_esrb" id="dropdown_esrb" >
                        <button class="dropdown-item" href="#">All</button>
                        <button class="dropdown-item" href="#">E</button>
                        <button class="dropdown-item" href="#">E10Plus</button>
                        <button class="dropdown-item" href="#">M</button>
                        <button class="dropdown-item" href="#">T</button>
                        <button class="dropdown-item" href="#">RP</button>
                    </div>
                </div> -->
                <!-- <label class="mr-2">Ratings</label>
                <div id="cmb_esrb" class="dropdown mr-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ratings
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item">0 - 1</button>
                        <button class="dropdown-item">1 - 2</button>
                        <button class="dropdown-item" href="#">2 - 3</button>
                        <button class="dropdown-item" href="#">3 - 4</button>
                        <button class="dropdown-item" href="#">4 - 5</button>
                    </div>
                </div> -->
            </div>
            
        </div>
        <div class="form-inline" style="margin: 20px ">
            
        </div>
        <div class="row" id ="result_list" style="margin-top: 20px">
        <!-- <div class="row-fluid"> -->
        </div>
        <div class="row mr-4 mt-4 mb-4 form-inline float-right">
            <div class="form-group">
                <h6 class="mr-2">Shows</h6>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active btn-sm">
                        <input type="radio" name="page_size" id="page_10" autocomplete="off" value="10" checked> 10
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" name="page_size" id="page_20" autocomplete="off" value="20" > 20
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" name="page_size" id="page_50" autocomplete="off" value="50" > 50
                    </label>
                </div>
                <h6 class="ml-2">Each Page</h6>

                <label id="result_stat" style="margin-left: 40px"></label>

                <button id="previous_page" type="button" class="ml-4 btn btn-primary btn-sm" aria-disabled="true" disabled>Previous</button>
                <button id="next_page" type="button" class="ml-4 btn btn-primary btn-sm">Next</button>
            </div>
        </div>
        <!-- </div> -->
    </div>
    {% endblock %}
</div>